/* 
 * GitHub Markdown CSS
 * This file should contain the github-markdown-css styles.
 * 
 * To use the official stylesheet, you can either:
 * 1. Download from: https://github.com/sindresorhus/github-markdown-css
 * 2. Or use CDN in _layouts/default.html: 
 *    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.2.0/github-markdown.min.css">
 * 
 * For now, we'll use a CDN reference in the layout.
 */

